<!DOCTYPE html>
<html lang="en">
<head>
    <title>{{pageTitle}}</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" href="data:image/svg+xml;base64,{{base64Icon}}" />
    {% for style in styles %}
    <style> {{style}} </style>
    {% endfor %}
</head>
<body>
    <div class="limiter">
        <div class="table-title"><h4>{{tableTitle}}</h4></div>
        <div class="container-table100">
            <div class="wrap-table100">
                <div class="table">
                    <div class="row header">
                        <div class="cell"> Key ({{count}}) </div>
                        <div class="cell"> Value </div>
                        <div class="cell"></div>
                    </div>

                    {% for secret in secrets %}
                    <div class="row">
                        <div class="cell" data-title="Key"> {{secret.Key}} </div>
                        <div class="cell" data-title="Value"> {{secret.Value}} </div>
                        <div class="cell copy" data-title="Copy"><button>Copy</button></div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>

    {% for script in scripts %}
    <script> {{script}} </script>
    {% endfor %}
</body>
</html>
